* {
  max-width: 100%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans";
  color: #ffffff;
  background-color: #ffbebe;
}

.banner {
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
}

.colorh {
  background-color: #fa7c7b;
}

.informacion {
  background-color: rgba(255, 49, 49, 0.418);
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.columns {
  width: 48%;
  padding-top: 60px;
  padding-bottom: 50px;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  padding-bottom: 10px;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  padding-bottom: 10px;
}

footer {
  display: flex;
  background-color: #fa7c7b;
  position: end;
}

#introduccion {
  background-color: rgba(255, 49, 49, 0.418);
  background-size: cover;
}

.iconos {
height: 300px;
justify-content: space-between;

}